body {
    font-family: Arial, sans-serif; /* bottom background */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
    color: #343a40;
}

header {
    background: #3b3b3b;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background: #dab440;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #2bacb2;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #343a40;
    color: white;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

